<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
  <body>

    <div class="container">
      <br>
        <h2>Mini Projects</h2>
        <div class="list-group">
          <a href="{%url 'base'%}" class="list-group-item list-group-item-action">Decimal to Any Base Converter</a>
          <a href="{%url 'infix'%}"class="list-group-item list-group-item-action">Infix to Postfix Converter</a>
          <a href="{%url 'palindrome'%}" class="list-group-item list-group-item-action">Palindrome Checker using Deque</a>
          <a href="{%url 'tower'%}" class="list-group-item list-group-item-action">Tower of Hanoi using Recursion</a>


        </div>
      </div>


    </body>
    </html>